.character-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid #e0e0e0;
  position: relative;
}

.character-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.hogwarts-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.back-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 16px;
}

.character-image {
  width: 80%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 40px; /* Espacio para el encabezado con el logo y botón */
}

.character-info {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.character-info h2 {
  color: #333;
  margin: 10px 0;
}

.character-info p {
  margin: 5px 0;
  color: #666;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .character-detail {
    flex-direction: row;
    align-items: flex-start;
  }

  .character-info {
    margin-left: 20px;
    text-align: left;
  }
}