.filter-section {
  padding:10px;
  text-align: center;
  background-color: rgb(150, 220, 220)
}

.filter-input {
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(150, 220, 220)
}

.card {
  margin: 10px;
  width: calc(100% / 4 - 20px);
}

@media (max-width: 768px) {
  .card {
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
