@import 'core/reset';

.header {
  background-image:url("/klipartz.com.png");
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
  margin-bottom: 70px;
  margin-top: 50px;
}